$application-backdrop: url("../story-assets/images/backdrop.png");

@import "./global-styles/colors";
@import "./global-styles/typography";
@import "./global-styles/layout";
@import "./top-bar/top-bar";
@import "./login/login";
@import "./background/background";
@import "./synopsis/synopsis";
@import "./stories/stories";
@import "./stories/story-detail/story-detail";
@import "./maps/maps";
@import "./entities/entities";
@import "./combat/combat";
@import "./notes/notes";

body {
    font-family: $body;
}

.top { height: $header-height; }

.main {
    background: $application-backdrop;
    background-size: cover;
    height: calc(100vh - #{$header-height});
    position: relative;
}

.no-outline {
    &:focus { outline: none; }
}

.ellipsize {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.content-page {
    display: block;
    height: calc(100vh - #{$header-height});
    width: 80vw;
    margin: 0 10vw;

    &__toolbar {
        padding: 1rem 2rem;
        height: 111px;
    }

    &__title {
        font-family: $title;

        &--leader { margin: 0; }
    }

    &__controls {
        position: fixed;
        top: calc(#{$header-height} + 5vh);
        right: 0;
        width: 10vw;
    }

    &__content {
        padding: 1rem 2rem;
        height: calc(100vh - #{$header-height} - #{$content-page-toolbar-height});
    }
}
