$application-backdrop: url("../story-assets/images/backdrop.png");

@import "./global-styles/colors";
@import "./global-styles/typography";
@import "./global-styles/layout";
@import "./top-bar/top-bar";
@import "./login/login";
@import "./background/background";
@import "./synopsis/synopsis";
@import "./stories/stories";
@import "./stories/story-detail/story-detail";
@import "./maps/maps";
@import "./entities/entities";
@import "./combat/combat";
@import "./notes/notes";

.top { height: $header-height; }

.main {
    background: $application-backdrop;
    background-size: cover;
    height: calc(100vh - #{$header-height});
    position: relative;
}

.no-outline {
    &:focus { outline: none; }
}

.content-page {
    font-family: $serif;
    display: block;
    height: calc(100vh - #{$header-height});
    width: 80vw;
    margin: 0 10vw;

    &--reader { font-family: $serif; }

    &--wrapped {
        height: 100%;
        width: 100%;
        margin: 0;
    }

    &--short {
        height: auto;
        max-height: calc(100vh - #{$header-height});
    }

    &__toolbar {
        padding: 1rem 2rem;
        height: 111px;
    }

    &__title {
        margin: 0;
        font-family: $title-font;

        &:last-child { margin: 14px 0; }
    }

    &__descriptor {
        font-size: 0.9rem;
        margin-top: 0.5rem;
    }

    &__controls {
        position: fixed;
        top: calc(#{$header-height} + 5vh);
        right: 0;
        width: 10vw;
    }

    &__content {
        padding: 1rem 2rem;
        height: calc(100% - 111px);
        box-sizing: border-box;
    }
}
