.map-legend {
    background: $translucent-black;
    color: $white;
    font-size: 12px;
    border-radius: 5px;
    margin-bottom: 1px;

    &__column { margin: 1rem 1rem 0.5rem; }

    &__item {
        padding-bottom: 0.5rem;
        white-space: nowrap;
        min-width: 8rem;
    }

    &__icon { font-size: 12px; }
}
