<div
    class="story"
    layout="row"
>
    <div
        ng-repeat="storyColumn in vm.sortedStories"
        class="story__column"
        layout="column"
        layout-align="center center"
    >
        <story-node
            node-id="{{ story.id }}"
            ng-repeat="story in storyColumn"
            story="story"
            on-enter="vm.showBrief(id, left)"
            on-exit="vm.hideBrief()"
        ></story-node>
    </div>

</div>
<canvas class="story-canvas"></canvas>
<story-brief left="vm.left" ng-if="vm.viewBrief" brief="vm.viewBrief"></story-brief>
