<div
    class="story-brief"
    ng-class="{ 'story-brief--left': vm.left }"
    md-theme="success"
>
    <div class="story-brief__shader"></div>
    <div class="story-brief__container" md-whiteframe="4">

        <md-toolbar
            class="story-brief__title"
            ng-class="vm.getStatusClass()"
            layout="row"
        >
            <div flex>{{ vm.brief.id }} {{ vm.brief.title }}</div>
            <i flex class="material-icons" layout="row" layout-align="end center">{{ vm.getStatusIcon() }}</i>
        </md-toolbar>

        <div layout="column" class="story-brief__content">
            <div class="story-brief__tagline">{{ vm.brief.tagline }}</em></div>
            <div flex layout="row" class="story-brief__path">
                Story path&nbsp;
                <span ng-if="vm.hasFrom()">
                    from
                    <span ng-repeat="from in vm.brief.from">
                        <md-button class="md-fab md-primary">{{ from }}</md-button>
                    </span>
                </span>
                <span ng-if="vm.hasTo()">
                    &nbsp;to
                    <span ng-repeat="to in vm.brief.to">
                        <md-button class="md-fab md-primary">{{ to }}</md-button>
                    </span>
                </span>
            </div>
            <div>{{ vm.brief.synopsis }}</div>
            <div layout="row" class="story-brief__activities">
                <md-chips flex ng-model="vm.brief.activities" readonly="true"></md-chips>
            </div>
        </div>
    </div>
</div>

