<div class="entities" md-theme="content_page">
    <div class="entities__wrapper">
        <md-content ng-if="!vm.selectedEntity">
            <div class="entities-search-bar" md-whiteframe="4">
                <label class="entities-search-bar__label" for="search-input">Search:</label>
                <md-input-container class="login__password">
                    <input
                        id="search-input"
                        class="entities-search-bar__input"
                        type="text"
                        placeholder="Type entity name to search"
                        ng-model="vm.nameSearch"
                    />
                </md-input-container>
            </div>
            <md-list>
                <md-list-item
                    player-visible="{{ entity.playerVisible }}"
                    class="md-2-line md-clickable"
                    ng-repeat="entity in vm.filteredEntities | orderBy:vm.getName"
                    ng-href="#/entities/{{ entity.id }}"
                >
                    <img class="md-avatar" ng-src="{{ entity.imageUrl }}"/>
                    <div class="md-list-item-text">
                        <h3>{{ entity.name }}</h3>
                        <p>{{ entity.getDescriptor() }}</p>
                    </div>
                    <div
                        layout="column"
                        class="md-secondary entities__item--secondary"
                    >
                        <div><strong>Armor Class</strong> {{ entity.armorClass }}</div>
                        <div><strong>Hit Points</strong> {{ entity.hitPoints }}</div>
                        <div><strong>Challenge</strong> {{ entity.challenge }}</div>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
</div>
