@import "../global-styles/layout";
@import "./combatant/combatant";

.combat {
    background: $translucent-black;
    width: 100vw;
    height: calc(100vh - #{$header-height});

    &__controls {
        position: fixed;
        top: calc(#{$header-height} + 5vh);
        right: 0;
        width: 10vw;
    }

    &__content {
        position: relative;
        background: transparent;
        width: 100vw;
        height: calc(100vh - #{$header-height});
    }

    &__tour {
        font-family: sans-serif;
        font-size: 0.9rem;
        position: absolute;
        background: transparentize($black, 0.5);
        color: $text-light;
        padding: 0 1rem;
        line-height: 2rem;
        border-radius: 0.2rem;

        &--hover {
            top: 7.5vh;
            right: 8vw;
        }

        &--add {
            top: 14.5vh;
            right: 8vw;
        }

        &--start {
            top: 21vh;
            right: 8vw;
        }
    }

    &__combatant-cards {
        position: relative;
        margin: 2rem 0 0 2rem;
    }

    &__combatant {
        $spacing: 80px;

        position: absolute;
        transition: top 0.3s ease-in-out, left 0.3s ease-in-out;

        @for $i from 0 to 20 {
            &--#{$i} {
                left: 0;
                top: calc(#{$spacing} * #{$i});
                z-index: $i;
            }
        }

        &--top {
            z-index: 100;
            left: $spacing;
        }

        &.ng-leave {
            transition: opacity 0.3s linear;
            opacity: 1;
        }

        &.ng-leave.ng-leave-active {
            opacity: 0;
        }
    }

    &__delete-combatant {
        position: absolute;
        top: -10px;
        right: -10px;
        color: $text-dark;
        background: $white;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
            color: $deep-red;
        }
    }
}
