<div class="combat" ng-cloak>

    <span ng-if="vm.showIntro()">
        <div class="combat__tour combat__tour--hover">Hover here to display controls.</div>
        <div class="combat__tour combat__tour--add">To start adding combatants, click here.</div>
        <div class="combat__tour combat__tour--start">To start the first turn of combat, click here.</div>
    </span>

    <md-fab-speed-dial
        class="md-fling md-hover-full combat__controls"
        md-direction="down"
        md-open="vm.isControlOpen"
        ng-mouseenter="vm.showControls()"
        ng-mouseleave="vm.hideControls()"
    >
        <md-fab-trigger>
            <md-button class="md-fab">
                {{ vm.turn | floor }}/{{ vm.round }}
            </md-button>
        </md-fab-trigger>

        <md-fab-actions>
            <md-button
                class="md-fab md-mini"
                ng-click="vm.addCombatant()"
            >
                <md-icon class="material-icons">add_circle</md-icon>
            </md-button>

            <md-button
                class="md-fab md-mini"
                ng-click="vm.nextTurn()"
            >
                <md-icon class="material-icons">navigate_next</md-icon>
            </md-button>

            <md-button
                ng-click="vm.lastTurn()"
                class="md-fab md-mini"
            >
                <md-icon class="material-icons">navigate_before</md-icon>
            </md-button>

            <md-button
                ng-click="vm.resetCombat()"
                class="md-fab md-mini"
            >
                <md-icon class="material-icons">delete_forever</md-icon>
            </md-button>
        </md-fab-actions>
    </md-fab-speed-dial>

    <md-content class="combat__content" layout="row" id="combatcontent">

        <click-aware
            class="combat__combatant-cards"
            on-blur="vm.setTopCard()"
        >
            <div
                ng-repeat="combatant in vm.combatants"
                class="combat__combatant combat__combatant--animatable"
                ng-class="vm.getCombatantPlacementClass(combatant)"
                combatant-activator="vm.isActiveCombatant(combatant)"
                combatant-order-index="vm.getCombatantOrderIndex(combatant)"
            >
                <md-icon
                    ng-if="vm.isTopCard(combatant)"
                    ng-click="vm.deleteSelectedCombatant(combatant)"
                    class="material-icons combat__delete-combatant"
                >
                    cancel
                </md-icon>
                <combatant
                    ng-click="vm.setTopCard(combatant)"
                    combatant="combatant"
                    order="$index"
                ></combatant>
            </div>
        </click-aware>
    </md-content>
</div>
