.entity-detail {
    height: 100%;

    &__content {
        padding: 1rem 2rem;
        height: calc(100% - 111px);
        box-sizing: border-box;
    }

    &__image {
        width: 30%;
        float: right;
    }
}

.entity-header { border-bottom: 1px solid $blue-grey-100; }

.entity-ability {
    height: 50px;
    width: 70px;

    &__label { color: $blue-grey-700; }

    &:first-child { margin-left: 0; }
}

.entity-specs {
    margin: 2rem 0;

    &__label { color: $blue-grey-700}
}
