<div class="entity-detail" md-theme="content_page">

    <md-toolbar
        layout="row"
        layout-align="space-between center"
        ng-if="!vm.noHeader"
        class="content-page__toolbar"
        md-whiteframe="4">
        <div layout="column">
            <h1 class="content-page__title">{{ vm.entity.name }}</h1>
            <div class="content-page__descriptor">{{ vm.entity.getDescriptor() }}</div>
        </div>
        <md-button
            player-visible="false"
            ng-click="vm.togglePlayerVisibleThrottled()"
            class="md-fab"
        >
            <md-icon ng-if="vm.entity.playerVisible" class="material-icons">visibility</md-icon>
            <md-icon ng-if="!vm.entity.playerVisible" class="material-icons">visibility_off</md-icon>
        </md-button>
    </md-toolbar>

    <md-content class="content-page__content content-page__content--condensed">
        <img class="entity-detail__image" ng-src="{{ vm.entity.imageUrl}}"/>

        <md-divider></md-divider>

        <div class="entity-detail__abilities" layout="row">
            <div class="entity-ability" layout="column" layout-align="center center" flex>
                <div class="entity-ability__label">STR</div>
                <div class="entity-ability__value">{{ vm.entity.strength }}</div>
            </div>
            <div class="entity-ability" layout="column" layout-align="center center" flex>
                <div class="entity-ability__label">DEX</div>
                <div class="entity-ability__value">{{ vm.entity.dexterity }}</div>
            </div>
            <div class="entity-ability" layout="column" layout-align="center center" flex>
                <div class="entity-ability__label">CON</div>
                <div class="entity-ability__value">{{ vm.entity.constitution }}</div>
            </div>
            <div class="entity-ability" layout="column" layout-align="center center" flex>
                <div class="entity-ability__label">INT</div>
                <div class="entity-ability__value">{{ vm.entity.intelligence }}</div>
            </div>
            <div class="entity-ability" layout="column" layout-align="center center" flex>
                <div class="entity-ability__label">WIS</div>
                <div class="entity-ability__value">{{ vm.entity.wisdom }}</div>
            </div>
            <div class="entity-ability" layout="column" layout-align="center center" flex>
                <div class="entity-ability__label">CHA</div>
                <div class="entity-ability__value">{{ vm.entity.charisma }}</div>
            </div>
        </div>

        <md-divider></md-divider>

        <div class="entity-specs" layout="row">
            <div flex="40">
                <div layout="row">
                    <span class="entity-specs__label" flex="50">Armor Class</span>
                    <span class="entity-specs__value">{{ vm.entity.armorClass }}</span>
                </div>
                <div layout="row">
                    <span class="entity-specs__label" flex="50">Hit Points</span>
                    <span class="entity-specs__value">{{ vm.entity.hitPoints }}</span>
                </div>
                <div layout="row">
                    <span class="entity-specs__label" flex="50">Speed</span>
                    <span class="entity-specs__value">{{ vm.entity.speed }} ft.</span>
                </div>
                <div layout="row">
                    <span class="entity-specs__label" flex="50">Proficiency</span>
                    <span class="entity-specs__value">{{ vm.entity.proficiency }}</span>
                </div>
                <div layout="row">
                    <span class="entity-specs__label" flex="50">Saving Throws</span>
                    <span class="entity-specs__value">
                        <span ng-repeat="savingThrow in vm.entity.savingThrows">
                            {{ savingThrow }}<span ng-if="!$last"><br/></span>
                        </span>
                    </span>
                </div>
            </div>
            <div flex="60">
                <div layout="row">
                    <span class="entity-specs__label" flex="40">Damage Resistances</span>
                    <span class="entity-specs__value">
                        <span ng-repeat="resistance in vm.entity.damageResistance">
                            {{ resistance }}<span ng-if="!$last">,<br/></span>
                        </span>
                    </span>
                </div>
                <div layout="row">
                    <span class="entity-specs__label" flex="40">Senses</span>
                    <span class="entity-specs__value">
                        <span ng-repeat="sense in vm.entity.senses">
                            {{ sense }}<span ng-if="!$last">,<br/></span>
                        </span>
                    </span>
                </div>
                <div layout="row">
                    <span class="entity-specs__label" flex="40">Languages</span>
                    <span class="entity-specs__value">
                        <span ng-repeat="language in vm.entity.languages">
                            {{ language }}<span ng-if="!$last">,<br/></span>
                        </span>
                    </span>
                </div>
                <div layout="row">
                    <span class="entity-specs__label" flex="40">Skills</span>
                    <span class="entity-specs__value">
                        <span ng-repeat="skill in vm.entity.skills">
                            {{ skill }}<span ng-if="!$last">,<br/></span>
                        </span>
                    </span>
                </div>
                <div layout="row">
                    <span class="entity-specs__label" flex="40">Challenge</span>
                    <span class="entity-specs__value">{{ vm.entity.challenge }}</span>
                </div>
            </div>
        </div>

        <md-divider></md-divider>

        <p ng-repeat="feature in vm.entity.features">
            <strong><em>{{ feature[0] }}</em></strong>.
            {{ feature[1] }}
        </p>

        <h3
            class="entity-header"
            ng-if="vm.entity.actions && vm.entity.actions.length"
        >
            Actions
        </h3>

        <p ng-repeat="action in vm.entity.actions">
            <strong><em>{{ action[0] }}.</em></strong>
            {{ action[1] }}
        </p>

        <div ng-repeat="description in vm.entity.descriptions">
            <h2>{{ description[0] }}</h2>
            <div ng-bind-html="vm.getDescription(description[1])"></div>
        </div>

        <h2 ng-if="vm.entity.spells && vm.entity.spells.length">Spells</h2>
        <ul>
            <li ng-repeat="spell in vm.entity.spells">{{ spell }}</li>
        </ul>

        <div ng-if="!vm.noHeader" class="entity-detail__notes">
            <h3 class="entity-header">Entity Notes</h3>
            <notes link-id="vm.entity.id" link-type="entity"></notes>
        </div>
    </md-content>
</div>
