.top-bar {
    width: 100vw;
    min-height: inherit;

    &__title {
        margin-left: 2rem;
        font-family: $title;
        cursor: pointer;

        &:focus { outline: none; }
    }

    md-switch.top-bar__dm-switch { margin-right: 5rem; }

    &__nav {
        margin-right: 2rem;
    }
}
