@import "../global-styles/colors";
@import "../global-styles/layout";

.top-bar {
    width: 100vw;
    min-height: inherit;
    z-index: $header-z-index;

    &__title {
        margin-left: 2rem;
        font-family: $title;
        cursor: pointer;
    }

    &__nav {
        margin-right: 2rem;

        .md-nav-bar { border-bottom-color: transparentize($white, 0.88); }

        .md-button._md-nav-button.md-unselected { color: $text-light; }
    }
}
